package ${daoImplPackage};

import ${modelHome}.Page;
import ${daoPackage}.${upperModelName}Dao;
import ${daoPackage}.mapper.${upperModelName}Mapper;
import ${modelDatabase}.${upperModelName};
import ${modelDatabase}.${upperModelName}Example;
import org.springframework.beans.factory.annotation.Autowired;
import ${modelHome}.Pageable;
import org.springframework.stereotype.Repository;

import java.util.ArrayList;
import java.util.List;

@Repository
public class ${upperModelName}DaoImpl implements ${upperModelName}Dao {

    @Autowired
    private ${upperModelName}Mapper ${lowerModelName}Mapper;

    @Override
    public int insert(${upperModelName} record) {
        return ${lowerModelName}Mapper.insert(record);
    }

    @Override
    public int update(${upperModelName} record) {
        return ${lowerModelName}Mapper.updateByPrimaryKeySelective(record);
    }

    @Override
    public ${upperModelName} find(String id) {
        return ${lowerModelName}Mapper.selectByPrimaryKey(id);
    }

    @Override
    public List<${upperModelName}> findList(${upperModelName} record) {
        ${upperModelName}Example example = new ${upperModelName}Example();
        ${upperModelName}Example.Criteria criteria = example.createCriteria();
        //TODO query condition
        return ${lowerModelName}Mapper.selectByExample(example);
    }

    @Override
    public Page<${upperModelName}> findPage(${upperModelName} record, Pageable pageable) {
        if (pageable == null) {
            return new Page<>(new ArrayList<>(), 0);
        }
        ${upperModelName}Example example = new ${upperModelName}Example();
        ${upperModelName}Example.Criteria criteria = example.createCriteria();
        //TODO query condition

        int totalNum = ${lowerModelName}Mapper.countByExample(example);
        if (totalNum == 0) {
            return new Page<>(new ArrayList<>(), totalNum);
        }
        //pageable.setSortable(Sort.sort("create_time", Sort.DESC));
        //pageable.setSortable(Sort.sort("create_time", Sort.DESC).then("user_id", Sort.ASC));
        String orderClause = String.format("%s limit %s,%s", pageable.getSortClause(), pageable.getOffset(), pageable.getLimit());
        example.setOrderByClause(orderClause);
        List<${upperModelName}> data = ${lowerModelName}Mapper.selectByExample(example);
        return new Page<>(data, totalNum);
    }
}